MYSQL_ROOT_PASSWORD=changeme_mysql_password
MYSQL_DATABASE=dev_db_mysql

POSTGRES_USER=changeme_pg_user
POSTGRES_PASSWORD=changeme_pg_password
POSTGRES_DB=dev_db_postgre

# Optional: set other env vars used by your stack